* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: $f-lsu;
  height: 100%;
}

svg {
  flex-shrink: 0;
  display: block;
}

img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}