.button-sm {
  display: inline-flex;
  align-items: center;
  height: 20px;
  padding: 0 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  border-radius: 20px;

  &__icon {
    margin-right: 5px;
  }

  &_red {
    background: $c-m-red;
  }
}