.card {
  background: #FFFFFF;
  border: 1px solid $c-gray-light;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 6px 10px 10px;

  &__top {
    display: flex;
    margin: 0 0 10px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .m-button-del {
    margin-top: -5px;
  }

  &__middle {
    .card-refunds & {
      margin-bottom: 10px;
    }
  }
}