.card-title {
  flex-grow: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: $c-text-main;

  &__icon {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
  }
}