.characteristic-box {
  font-style: normal;
  font-weight: normal;
  
  &__section {
    margin-bottom: 10px;
  }

  &__property {
    font-size: 12px;
    line-height: 18px;
    color: #2E4D9D;
  }

  &__val {
    font-size: 12px;
    line-height: 18px;
    color: #545454;
  }
}