.m-action-gift-card {
  background: #FFFFFF;
  border: 1px solid #EAEAEF;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px 10px;

  & > .__title {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 20px;

    & .__icon {
      margin-right: 10px;
    }

    & .__text {
      flex-grow: 1;
      font-size: 14px;
      line-height: 22px;
      color: $c-text-main;
    }

    & .__indicator {
      position: absolute;
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 2px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  & > .__text {
    font-size: 9px;
    line-height: 14px;
    color: #545454;
    margin: -6px 0 14px;
    padding: 0 20px 0 30px;
  }

  & > .__scale {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 30px;
  }

  & > .__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 30px;

    & .__prop {
      font-size: 11px;
      line-height: 17px;
      color: #666666;
    }

    & .__val {
      font-size: 14px;
      line-height: 22px;
      color: #344E9F;
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  & > .__button {
    padding: 0 20px 0 30px;
    margin-bottom: 16px;
  }
}