.m-button-select-goods {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: #344E9F;
  color: #fff;
  font-size: 9px;
  line-height: 14px;
  padding: 0 10px;
  user-select: none;
}