.m-button-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;

  & .__icon-close {
    display: none;
  }

  & .__icon-open {
    display: block;
  }

  &.-active__ .__icon-close {
    display: block;
  }

  &.-active__ .__icon-open {
    display: none;
  }
}