.m-button-sm {
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  background: #FFFFFF;
  border: 1px solid $c-m-blue;
  border-radius: 5px;

  &__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px 0 0;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: $c-m-blue;
  }
}