.m-order-info {

  &__hold {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 8px;

    & > * {
      flex-shrink: 0;
      width: 50%;

      &:nth-child(n + 3) {
        margin-top: 7px;
      }
    }
  }

  &__comment {

  }

  &__prop {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: $c-text-main;
  }

  &__val {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: $c-m-blue;
  }
}