.m-order-line {
  position: relative;
  display: flex;
  align-items: center;
  padding: 9px 34px 9px 8px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
    display: block;
    width: 8px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99016 7.00004C7.99016 7.25095 7.89436 7.50182 7.70315 7.69312L1.68341 13.7128C1.30048 14.0957 0.679623 14.0957 0.296847 13.7128C-0.0859283 13.33 -0.0859283 12.7093 0.296847 12.3263L5.62345 7.00004L0.297033 1.67371C-0.0857421 1.29078 -0.0857421 0.670114 0.297034 0.287369C0.679809 -0.0957479 1.30066 -0.0957479 1.6836 0.287369L7.70334 6.30696C7.89457 6.49835 7.99016 6.74922 7.99016 7.00004Z' fill='%232E4D9D'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__status {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    height: 25px;
    padding: 0 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-right: 11px;
    border-radius: 30px;

    &_new {
      background: $c-green;
    }

    &_taken {
      background: $c-m-blue;
    }

    &_draft {
      background: $c-m-blue;
    }

    &_submitted {
      background: $c-gray-black;
    }
  }

  &__title {
    flex-grow: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $c-text-main;

    &.m-action span {
      position: relative;
      display: inline-block;
      padding-right: 22px;

      &:after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $c-m-red;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5px;
        margin: auto;
      }
    }
  }

  &__sum {
    flex-shrink: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $c-text-main;
    margin-left: 10px;
  }
}