.m-search-button {
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.-active__ {
    color: $c-m-blue;

    &.input-search {
      flex-grow: 0;
      opacity: 1;
    }

    & svg path {
      fill: $c-m-blue;
    }
  }

  &.input-search {
    flex-grow: 1;
    opacity: 0;
    transition: opacity 200ms;
  }
}