.m-search-list {
  & p {
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    color: $c-text-main;
    margin: 0;
    padding: 7px 5px;
    cursor: pointer;

    &:nth-child(odd) {
      background: #EAEAEF;
    }

    & a {
      font-size: 12px;
      line-height: 18px;
      color: $c-text-main;
      text-decoration: none;
    }
  }

  & a {
    display: block;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    color: $c-text-main;
    margin: 0;
    padding: 7px 5px;
    text-decoration: none;

    &:nth-child(odd) {
      background: #EAEAEF;
    }
  }
}