.m-select {
  position: relative;
  z-index: 0;
  width: 100%;

  & + & {
    margin-top: 15px;
  }
  
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #AAAAAA;
    margin: 0 0 4px;
  }

  &__box {
    position: relative;
  }

  &__text {
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 40px 0 8px;
    background: #fff;
    border: 1px solid #545454;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $c-text-main;
    z-index: 1;

    & .indicator {
      display: block;
      width: 14px;
      height: 8px;
      position: absolute;
      right: 14px;
      top: 0;
      bottom: 0;
      margin: auto;

      &.statusOpen {
        transform: rotateX(180deg);
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 0;
    box-shadow: 0 0 6px rgba(0,0,0,.35);
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__option {
    padding: 4px 8px;
    min-height: 35px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #545454;
  }

  &.-blue__ &__text {
    height: 40px;
    padding: 0 40px 0 14px;
    border: 1px solid $c-m-blue;
  }

  &.-blue__ &__title {
    font-size: 12px;
    line-height: 18px;
    padding: 0 8px;
    margin-bottom: 6px;
    color: $c-text-main;
  }
}