.m-text-block {
  color: $c-text-main;

  & .title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $c-m-blue;
  }

  & p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin: 15px 0;
  }
}