.main-menu {
  padding: 0 8px;

  &:after {
    content: "";
    display: block;
    width: 85px;
    height: 1px;
    background: #fff;
    margin: 20px 0;
  }

  &__item {
    margin: 20px 0;
  }

  &__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
  }
}