$c-m-blue: #2E4D9D;
$c-gray-black: #545454;
$c-gray-light: #eaeaef;
$c-gray-middle: #aaa;
$c-m-red: #E30613;
$c-green: #207245;
$c-yellow: #FEBD3C;
$c-text-main: #545454;

$f-lsu: 'Lucida Sans Unicode';