.m-breadcrumbs {
  display: flex;
  align-items: center;
  
  &__item {
    & a {
      font-size: 12px;
      line-height: 18px;
      color: #aaa;
    }

    &.active a {
      color: #fff;
    }
  }
}