<div class="popup-bottom" data-popup-bottom="order-info">
    <div class="popup-bottom__inner">
        <div class="popup-bottom__body">
            <div class="popup-bottom-box">
                <div class="popup-bottom-box-button" data-button="order-info">
                    <div class="popup-bottom-box-button__indicator" data-indicator="button">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.00002 -9.81887e-05C5.17924 -9.81731e-05 5.35844 0.0683323 5.49508 0.204905L9.79486 4.50473C10.0684 4.77826 10.0684 5.22172 9.79486 5.49514C9.52145 5.76855 9.07807 5.76855 8.80452 5.49514L5.00002 1.69041L1.19549 5.495C0.921968 5.76841 0.478632 5.76841 0.205242 5.495C-0.0684127 5.22159 -0.0684127 4.77812 0.205242 4.5046L4.50496 0.204772C4.64166 0.0681768 4.82086 -9.82044e-05 5.00002 -9.81887e-05Z" fill="#2E4D9D"/>
                        </svg>
                    </div>
                </div>

                <div class="order-info" style="display: none">
                    <div class="order-info__hold">
                        <div class="order-info__item">
                            <div class="order-info__prop">Статус</div>
                            <div class="order-info__val">Новый</div>
                        </div>

                        <div class="order-info__item">
                            <div class="order-info__prop">Вес</div>
                            <div class="order-info__val">71.168 кг</div>
                        </div>

                        <div class="order-info__item">
                            <div class="order-info__prop">Сумма</div>
                            <div class="order-info__val">11 759.52 грн</div>
                        </div>
                    </div>

                    <div class="order-info__comment">
                        <div class="field-box">
                            <div class="field-box__title">Комментарий</div>

                            <textarea class="field-box__textarea" placeholder="..."></textarea>
                        </div>
                    </div>
                </div>

                <div class="popup-bottom-box__block">
                    <div class="popup-bottom-box__row">
                        <div class="popup-bottom-box__col">
                            <div class="m-button-main m-button-main_blue m-button-main_fz-16"><span>Добавить товар</span></div>
                        </div>

                        <div class="popup-bottom-box__col">
                            <div class="m-button-main m-button-main_orange m-button-main_fz-16"><span>Отправить заказ</span></div>
                        </div>
                    </div>

                    <div class="popup-bottom-box__row">
                        <div class="popup-bottom-box__col">
                            <div class="bonus-payment">
                                <label class="bonus-payment__label">
                                    <input type="checkbox" name="bonusPayment" class="bonus-payment__input" />

                                    <span class="bonus-payment__title">Оплата бонусами</span>
                                </label>
                            </div>
                        </div>

                        <div class="popup-bottom-box__col">
                            <div class="m-button-main m-button-main_white m-button-main_fz-16"><span>Отправить заказ</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <span class="popup-bottom__substrate" data-substrate="order-info"></span>
    </div>
</div>