<div class="m-popup" data-popup="add_goods" style="display:none;">
    <div class="m-popup__header">
        <div class="m-button-void" data-close="add_goods">
            <div class="m-button-void__icon">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.000136026 7.99997C0.000136038 7.71322 0.109625 7.4265 0.328141 7.20788L7.20787 0.328227C7.6455 -0.109409 8.35505 -0.109409 8.79251 0.328227C9.22997 0.765686 9.22997 1.4751 8.79251 1.91277L2.70495 7.99997L8.7923 14.0872C9.22976 14.5249 9.22976 15.2342 8.7923 15.6716C8.35484 16.1095 7.64529 16.1095 7.20765 15.6716L0.327928 8.79207C0.109377 8.57334 0.000136013 8.28662 0.000136026 7.99997Z" fill="white"/>
                </svg>
            </div>

            <span class="m-button-void__text">Назад</span>
        </div>

        <div class="m-button-void">
            <div class="m-button-void__icon">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.12669 12.9771C5.97396 13.1308 5.76558 13.2165 5.54913 13.2165C5.33267 13.2165 5.1243 13.1308 4.97157 12.9771L0.359012 8.36384C-0.119671 7.88516 -0.119671 7.10894 0.359012 6.63116L0.936573 6.05345C1.4154 5.57476 2.19072 5.57476 2.6694 6.05345L5.54913 8.93332L13.3306 1.15174C13.8094 0.673054 14.5855 0.673054 15.0634 1.15174L15.641 1.72945C16.1196 2.20813 16.1196 2.98419 15.641 3.46213L6.12669 12.9771Z" fill="white"/>
                </svg>
            </div>

            <span class="m-button-void__text">Добавить</span>
        </div>
    </div>

    <div class="m-popup__main">
        <div class="m-popup__panel">
            <span>Добавить к заказу</span>
        </div>

        <div class="m-popup__content">
            <div class="m-orders">
                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box active">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>

                <div class="m-order-box">
                    <span class="m-order-box__title">Заказ 1012349</span>

                    <span class="m-order-box__total">145 грн</span>
                </div>
            </div>

            <div class="m-order-new">
                <div class="m-order-box m-order-box_new"><span class="m-order-box__title">+ Новый заказ</span></div>
            </div>
        </div>
    </div>
</div>