<div class="m-popup -search__" data-popup="history" style="display: none">
    <div class="m-popup__main">
        <div class="m-popup__panel">
            <span>История поиска</span>

            @@include('../close/_close.html', {"data":"history"})
        </div>

        <div class="m-popup__content">
            <div class="m-search-list">
                <p>Анкер с кожухом и гайкой М10/12*180 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с C-крюком М10/12*100 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с O-крюком М8/10*80 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с O-крюком М10/12*100 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с L-крюком М8/10*80 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой М10/12*180 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с C-крюком М10/12*100 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с O-крюком М8/10*80 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с O-крюком М10/12*100 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с L-крюком М8/10*80 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с C-крюком М10/12*100 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с O-крюком М8/10*80 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с O-крюком М10/12*100 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с L-крюком М8/10*80 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой М10/12*180 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с C-крюком М10/12*100 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с O-крюком М8/10*80 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с O-крюком М10/12*100 цинк жёлтый (пач. 5 шт.) APRO</p>

                <p>Анкер с кожухом и гайкой с L-крюком М8/10*80 цинк жёлтый (пач. 5 шт.) APRO</p>
            </div>
        </div>
    </div>
</div>