<div class="m-popup -search__" data-popup="scanner" style="display:none;">
    <div class="m-popup__main">
        <div class="m-popup__panel">
            <span>Поиск по штрих коду</span>

            <span>
                @@include('../close/_close.html',{"data":"scanner"})
            </span>
        </div>

        <div class="m-popup__content">
            <div class="m-box-scanner">
                <div id="reader"></div>
                <div id="qr-reader-results"></div>
            </div>
        </div>
    </div>
</div>